.glow-button {
    position: relative;
    overflow: hidden;
  }
  
  .glow-button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(0, 255, 255, 0.3);
    transition: opacity 0.5s, transform 0.5s;
    transform: scale(0);
    opacity: 0;
  }
  
  
  .glow-button:hover {
    box-shadow: 0 0 10px #FEBA4F, 0 0 20px #FEBA4F, 0 0 30px #FEBA4F;
  }
  